configuration {
    show-icons: true;
    icon-theme: "Candy-icons";
    font: "Pennywort23 12";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Windows";
    drun-display-format: "{name}";
    lines: 10;
}

@import "/usr/share/rofi/themes/glue_pro_blue.rasi"